<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.javalec.ex.Dao.BDao">


	<!-- 글 리스트 가져오기 -->
	<select id="b_list" parameterType="com.javalec.ex.Dto.SearchingDto" resultType="com.javalec.ex.Dto.BDto">
		select * 
		from
		(select row_number() over(order by b_date desc,b_num desc) as rnum, b_num, b_title, b_name,b_content, b_date
		from
		(select * from board
		
		<!-- 검색조건  분기-->
		<if test="sort!=null">
		<choose>
		<when test="sort.equals('all')">
		where b_title like '%'||#{keyword}||'%' or b_content like '%'|| #{keyword}||'%'
		</when>
		<when test="sort.equals('title')">
		where b_title like '%'||#{keyword}||'%'
		</when>
		<when test="sort.equals('content')">
		where b_content like '%'||#{keyword}||'%'
		</when>
		<when test="sort.equals('writer')">
		where b_name like '%'||#{keyword}||'%'
		</when>
		<when test="sort.equals('w_date')">
		where b_date between #{keyword} and #{end_date}
		</when>
		</choose>
		</if>))
		
		<!-- 페이지에 출력할 글 갯수  -->
		where rnum between #{cur_page}*10-9 and #{cur_page}*10
	</select>
	
	
	<!-- 게시판 리스트 카운트 -->
	<select id="b_paging" parameterType="com.javalec.ex.Dto.SearchingDto" resultType="com.javalec.ex.Dto.PagingDto">
	select count(*) list_count 
		from board
		
		<!-- 검색조건  -->
		<if test="sort!=null">
		<choose>
		<when test="sort.equals('all')">
		where b_title like '%'||#{keyword}||'%' or b_content like '%'|| #{keyword}||'%'
		</when>
		<when test="sort.equals('title')">
		where b_title like '%'||#{keyword}||'%'
		</when>
		<when test="sort.equals('content')">
		where b_content like '%'||#{keyword}||'%'
		</when>
		<when test="sort.equals('writer')">
		where b_name like '%'||#{keyword}||'%'
		</when>
		<when test="sort.equals('w_date')">
		where b_date between #{keyword} and #{end_date}
		</when>
		</choose>
		</if>

	</select>
	
	<!-- 글 상세 보기 -->
	<select id="b_view" resultType="com.javalec.ex.Dto.BDto">
		select * from board where b_num=#{param1}
	</select>

 	<!-- 글쓰기 -->
	<insert id="b_write" parameterType="com.javalec.ex.Dto.BDto">
		insert into board values(b_seq.nextval,#{b_name},#{b_title},#{b_content},sysdate,#{b_pw})
	</insert>
	
	<!-- 글 수정하기 -->
	<update id="b_update" parameterType="com.javalec.ex.Dto.BDto">
		update board set b_title=#{b_title}, b_content=#{b_content} where b_num=#{b_num}
	</update>
	
	<!-- 글 삭제하기 -->
	<delete id="b_delete">
		delete from board where b_num=#{param}
	</delete>

</mapper>